################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/DEV/PeopleDatabase/.vs/PeopleDatabase
/DEV/.vs
