################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/DEV/PeopleDatabase/.vs/PeopleDatabase
/DEV/.vs
/DEV/DatabasesPeopleWork/.vs/DatabasesPeopleWork/v15
/DEV/DatabasesPeopleWork/.vs/DatabasesPeopleWork/DesignTimeBuild
